<div class="container d-flex justify-content-center">
    <div class="wide-board">
        <div class="row">
            <div class="col-12"><h1 class="text-center">Tor service settings</h1></div>
            <hr />
        </div>
        <div class="row mt-5 border border-info py-1">
            <div class="col-12 col-md-6 text-center mt-3"><span id="AddressTitle" class="h4">@Localizer["Server onion address"]: <b id="OnionAddress" class="border border-secondary">@ViewData["OnionAddress"]</b></span></div>
            <div class="col-12 col-md-6 text-center mt-1"><button id="new-address" class="invitation-btn">@Localizer["Generate new address"]</button></div>
        </div>
        <div class="row mt-3">
            <div class="col-6"><h4>Tor console log:</h4></div>
            <div class="col-6"><button class="logclear-btn">@Localizer["Clear"]</button></div>
            <div class="tor-console">
                <p id="tor-console"></p>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $( document ).ready(function() {
        refleshlog();
    });
    function refleshlog() {
        $.ajax({
            type: "GET",
            url: "/Tor/Logger",
            beforeSend: function () {
                $('.tor-console').append("<div class='ajax-loading'></div>");
            },
            complete: function () {
                $('.ajax-loading').remove();
            },
            success: function (data) {
                $('#tor-console').html(data);
            },
            error: function(){
                console.log("Error");
            }
        }).then(function() {  
           setTimeout(refleshlog, 30000);  
        });
    }
    $(".logclear-btn").click(function () {
        $.ajax({
            type: "GET",
            url: "/Tor/DeleteLog",
            beforeSend: function () {
                $('.tor-console').append("<div class='ajax-loading'></div>");
            },
            complete: function () {
                $('.ajax-loading').remove();
            },
            success: function (data) {
                if (data == "Ok")
                    $('#tor-console').text("");
            },
            error: function () {
                console.log("Error");
            }
        });
    });
    $("#new-address").click(function () {
        $.ajax({
            type: "GET",
            url: "/Tor/GenerateNewAddress",
            beforeSend: function () {
                $('#AddressTitle').text("<div class='ajax-loading'></div>");
            },
            complete: function () {
                $('.ajax-loading').remove();
            },
            success: function (data) {
                 $('#OnionAddress').text(data);
            },
            error: function () {
                console.log("Error");
            }
        });
    });
</script>