<div class="container d-flex justify-content-center">
    <div class="wide-board">
        <div class="row">
            <div class="col-12"><h1 class="text-center">Tor service settings</h1></div>
            <hr />
        </div>
        <div class="row mt-5 border border-info py-1">
            <div class="col-12 col-md-6 text-center mt-3"><span class="h4">Server onion address: <b class="border border-secondary">@ViewData["OnionAddress"]</b></span></div>
            <div class="col-12 col-md-6 text-center mt-1"><button class="invitation-btn">Generate new address</button></div>
        </div>
        <div class="row">
            <div class="tor-console">
            </div>
        </div>
    </div>
</div>