@{
    ViewData["Title"] = "Home Page";
}
    <div class="contatiner d-flex justify-content-center">
        <div class="medium-board">
            <div class="text-center">
                <div class="col-12"><h1 class="display-4">@ViewData["Welcome"]</h1></div>
                <hr />
                <div class="col-12">
                    <img src="~/img/dragon logo.png" class="logo" />

                </div>
                <hr />
                <div class="row">
                    <div class="col-4">Coded by: Mogyiii</div>
                    <div class="col-4"><a href="https://github.com/mogyiii/Alduin-botnet/blob/master/LICENSE" class="btn btn-outline-primary">LICENSE</a></div>
                    <div class="col-4">Version: Alfpha 0.2</div>
                </div>
                <hr />
                <div class="row mt-5 mb-5">
                    <div class="col-3">
                        <a href="https://github.com/mogyiii/Alduin-botnet">
                            <div class="titles">
                                <p>
                                    Source code
                                </p>
                                <img src="https://github.githubassets.com/images/modules/logos_page/Octocat.png" width="50" />
                            </div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="https://github.com/mogyiii/Alduin-botnet/wiki">
                            <div class="titles">
                                <p>
                                    Wiki
                                </p>
                                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/80/Wikipedia-logo-v2.svg/220px-Wikipedia-logo-v2.svg.png" width="50" />
                            </div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=2A2ATBMR8CJUC&source=url">
                            <div class="titles">
                                <p>
                                    Donate
                                    with
                                    Paypal
                                </p>
                                <img src="https://www.paypalobjects.com/digitalassets/c/website/marketing/na/us/logo-center/Badge_1.png" width="50" />
                            </div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="/Home/Monero">
                            <div class="titles">
                                <p>
                                    Donate
                                    Me
                                    Monero
                                </p>
                                <img src="https://web.getmonero.org/press-kit/symbols/monero-symbol-480.png" width="50" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
