@{
    ViewData["Title"] = "Home Page";
}
    <div class="contatiner d-flex justify-content-center">
        <div class="medium-board">
            <div class="text-center">
                <div class="col-12"><h1 class="display-4">@ViewData["Welcome"]</h1></div>
                <hr />
                <div class="col-12">
                    <img src="~/img/dragon logo.png" class="logo" />

                </div>
                <hr />
                <div class="row">
                    <div class="col-4">Coded by: Mogyiii</div>
                    <div class="col-4"><a href="https://github.com/mogyiii/Alduin-botnet/blob/master/LICENSE" class="btn btn-outline-primary">LICENSE</a></div>
                    <div class="col-4">Version: Alfpha 0.9</div>
                </div>
                <hr />
                <div class="row mt-5 mb-5">
                    <div class="col-12">
                        <h2>Info</h2>
                        <hr />
                    </div>
                    <div class="col-6">
                        <a href="https://github.com/mogyiii/Alduin-botnet">
                            <div class="titles">
                                <i class="fab fa-github"></i>
                            </div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="https://github.com/mogyiii/Alduin-botnet/wiki">
                            <div class="titles">
                                <i class="fab fa-wikipedia-w"></i>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 mt-2">
                        <h2>Donate</h2>
                        <hr />
                    </div>
                    <div class="col-6">
                        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=2A2ATBMR8CJUC&source=url">
                            <div class="titles">

                                <i class="fab fa-cc-paypal"></i>

                            </div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="/Home/Monero">
                            <div class="titles">
                                <i class="fab fa-monero"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <!--Widgets-->
                    <div class="col-12">
                        <script src="https://widgets.coingecko.com/coingecko-coin-price-chart-widget.js"></script>
                        <coingecko-coin-price-chart-widget currency="usd" coin-id="monero" locale="en" height="300"></coingecko-coin-price-chart-widget>
                    </div>
                </div>
            </div>
        </div>
    </div>
