@{
    ViewData["Title"] = "Home Page";
}
    <div class="contatiner d-flex justify-content-center">
        <div class="medium-board">
            <div class="text-center">
                <div class="col-12"><h1 class="display-4">@ViewData["Welcome"]</h1></div>
                <hr />
                <div class="col-12">
                    <p>Source</p>
                </div>
            </div>
        </div>
    </div>
