@{
    ViewData["Title"] = "Donate Monero";
}
    <div class="contatiner d-flex justify-content-center">
        <div class="wide-board">
            <div class="text-center">
                <div class="row">
                    <div class="col-12 overflow-auto">
                        <h2>Address:</h2>
                        <p>44SSGsjvMsv53LkD5pZSxb7NzPeSqceybQwzpSRcfc3sWVjhkbNgTm6HDaUkQDcGG9TCoUMx7FNDxXE5iRJymncSLPkEa8C</p>
                    </div>
                    <div class="col-12"><h2>Or</h2></div>
                    <div class="col-12">
                        <img src="~/img/Monero request.png" width="300" />
                    </div>
                </div>
            </div>
        </div>
    </div>
