@model MessageModel
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
@{
    ViewData["Title"] = Localizer["Send Message"];
}
<form asp-controller="Commands" asp-action="ExecuteCommand" method="post">
    <h2>@Localizer["Send Message"]</h2>
    <hr />
    <div class="form-group">
        <label asp-for="Msg"></label>
        <input asp-for="Msg" />
        <span asp-validation-for="Msg"></span>
    </div>
    <div class="ondisplay">
        <section title="@Localizer["Cannot be Closed"]?">
            <div class="form-check slideTwo">
                <span asp-validation-for="Closed"></span>
                <input asp-for="Closed" class="form-check-input" type="checkbox" id="Run">
                <label class="form-check-label" for="Run"></label>
            </div>
        </section>
    </div>
    <button class="btn btn-primary mt-2 w-100">@Localizer["Submit"]</button>
</form>
