@model WebsiteModel
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<form asp-controller="Commands" asp-action="WebOpenCommand" method="post">
    <h2>@Localizer["Open website"]</h2>
    <hr />
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label asp-for="Url"></label>
                <input asp-for="Url" />
                <span asp-validation-for="Url"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="ondisplay">
                <section title="@Localizer["Cannot be closed"]">
                    <div class="form-check slideTwo">
                        <span asp-validation-for="Closed"></span>
                        <input asp-for="Closed" class="form-check-input" type="checkbox" id="slideTwo">
                        <label class="form-check-label" for="slideTwo"></label>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-2">
            <div class="ondisplay">
                <section title="@Localizer["Hidden"]">
                    <div class="form-check slideTwo">
                        <span asp-validation-for="Hidde"></span>
                        <input asp-for="Hidde" class="form-check-input" type="checkbox" id="slideTwo">
                        <label class="form-check-label" for="slideTwo"></label>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button>@Localizer["Submit"]</button>
        </div>
    </div>
</form>
