@model StreamModel
<div class="container d-flex justify-content-center">
    <div class="wide-board">
        <div class="row">
            <div class="col-12 text-center">
                <h2>@Localizer["Streams"]</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="list"></div>
                @try
                {
                    for (int i = 0; i < Model.NewVariables.Length; i++)
                    {
                        <div class="row">
                            <div class="col-12">
                                <img src="http://@Model.NewVariables[i].Domain:50371/GetScreenShot" class="screenshot" />
                            </div>
                            <div class="col-12">
                                <h3>Bot name: @Model.NewVariables[i].Name</h3>
                            </div>
                            <hr />
                        </div>
                    }
                }
                catch { }
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

</script>
